html,

:root {
  --nat-navbar-bg: #ECECEC;
  --nat-navbar-bg-rgb: 236, 236, 236;
  --nat-navbar-text-color: white;
}

body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/irina-iriser-2Y4dE8sdhlc-unsplash.jpg");
  background-size: cover;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
